# Logs
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Hardhat artifacts
artifacts/
cache/

# Build artifacts
dist/
pkg/balancer-js/src/typechain/*

# certora cruft
.certora*
certora_debug_log.txt
resource_errors.json
.last_confs
*.json
munged/

# Forge
forge-artifacts/
forge-cache/
